.activity-list {
  margin-top: 20px;
}

.activity-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.activity-item h3 {
  margin-top: 0;
}

.activity-item p {
  margin-bottom: 0;
}

.activity-item img {
  max-width: 100%;
  max-height: 200px; /* Maximum height for the images */
  width: auto; /* Width to adjust automatically */
  height: auto; /* Height to adjust automatically */
  object-fit: contain; /* Images maintain aspect ratio and fit within the container */
  border-radius: 8px;
  margin-bottom: 10px;
}
