.articles-container {
  font-family: "Noto Sans", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff; /* Change the text color to white */
  
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 0.8; /* Adjust the opacity to make it slightly darker */
}

.article-list {
  list-style-type: none;
  padding: 0;
}

.article-item {
  margin-bottom: 20px;
}

.article-link {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically in the center */
  text-decoration: none;
  color: #000000;
  font-weight: bold; /* Make the text bold */
  /* Radiant effect */
  text-shadow: 0 0 10px #f1ecf1, /* White glow effect */
               0 0 10px #f1ecf1, /* Increase the glow effect */
               0 0 10px #f1ecf1; /* Further increase the glow effect */
}

.clickable-sign {
  margin-right: 5px; /* Add space between sign and title */
}

.article-link:hover {
  color: #2c2828; /* Change the text color on hover */
}

.article-link:hover .article-text {
  color: #7c7878; /* Change the text color of the entire link on hover */
}

.article-text {
  color: rgb(0, 0, 0);
}

.article-item {
  margin-bottom: 20px;
}

.article-description {
  margin-left: 25px; /* Add margin to separate description from link and arrow */
}

.article-description p {
  margin: 5px 0; /* Add margin to separate the description from the next article */
  color: rgba(6, 6, 6, 0.8); /* Change the color to a slightly darker shade */

}
