.delete-button {
    padding: 2px 2px; 
    font-size: 14px; 
    background-color: #f4e5f4; /* background color */
    color: #7a7676; /* text color */
    border: 1px solid black ;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* margin to the right of the delete button */
  }
  
  .delete-button:hover {
    background-color: #e68fbc; /* background color on hover */
  }
  

  ul {
    padding-left: 10px; /* Reset default padding */
  }
  
  li {
    margin-bottom: 5px; /* margin at the bottom of each list item */
  }
  