.navbar {
  background-color: #dbb4db; 
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff; /* Change the text color of navbar links */
  font-weight: bold; /* Optionally add font weight */
}

.navbar a:hover {
  color: #5b5858; /* Change the text color of navbar links on hover */
}
